body {
  background-color: #222222;
}

#header {
  color: white;
  text-align: center;
}

#currentUser {
  color: white;
}

#signUpModal {
  display: none;
}

#signUpEmail {
  margin-bottom: 10px;
}

#signUpPassword {
  margin-bottom: 10px;
}

#loginModal {
  display: none;
}

#loginEmail {
  margin-bottom: 10px;
}

#loginPassword {
  margin-bottom: 10px;
}

#winner {
  color: white;
  display: none;
  font-size: 100px;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

canvas {
    background-color: lightblue;
    box-shadow: 10px 10px 20px green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: black 5px solid;
    padding-left: 0;
    padding-right: 0;
}

#modal {
  background-color: lightgreen;
  box-shadow: 10px 10px 20px black;
  display: none;
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: fixed;
  outline: black 5px solid;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#menuBtn {
  display: none;
}

#start {
  background-color: lightgreen;
  box-shadow: 10px 10px 20px black;
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: fixed;
  outline: black 5px solid;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#vol {
  display: inline-block;
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
}

#mute {
  display: none;
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
}
