body {
  background-color: #222222;
}

#header {
  color: white;
  text-align: center;
}

#winner {
  color: white;
  display: none;
  font-size: 100px;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

canvas {
    background-color: lightblue;
    box-shadow: 10px 10px 20px green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: black 5px solid;
    padding-left: 0;
    padding-right: 0;
}

#volume-control {
  left: 48%;
  position: fixed;
  text-align: center;
  top: 81%;
  transform: translate(-50%, -50%);
}

#vol {
  display: inline-block;
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
}

#mute {
  display: none;
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
}
